node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
package-lock.json
.npmrc
coverage
.DS_Store
.cache
*.log
*.swp

# IDE generated
.idea/
.project
*.iml
.tern-project
*.orig
.vscode

# Test generated
last-run-status
