name: Verify (dependabot)

on:
  pull_request_target:
    branches:
      - main

concurrency:
  group: verify-dependabot-${{ github.head_ref }}
  cancel-in-progress: true

env:
  NODE_VERSION: 16.x

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Configure package manager
        run: |
          echo Configuring NPM_READ_TOKEN globally for .npmrc
          npm config set '//registry.npmjs.org/:_authToken' ${{ env.NPM_TOKEN }}
          npm whoami
        env:
          NPM_TOKEN: ${{ secrets.NPM_READ_TOKEN }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint

      - name: Check types
        run: yarn types

      - name: Test
        run: yarn test --coverage --silent
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Comment test coverage
        uses: raulanatol/jest-coverage-comment-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          use-existing-reports: true

      - name: Build
        run: yarn build

  success-notification:
    if: success() && github.actor == 'dependabot[bot]'
    name: success-notification
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2.3.4

      - uses: reside-eng/workflow-status-slack-notification@v1.0.0
        with:
          current-status: 'success'
          slack-webhook: '${{ secrets.SLACK_WEBHOOK_PLATFORM_PROD }}'
          github-token: '${{ secrets.GITHUB_TOKEN }}'

  failure-notification:
    if: failure() && github.actor == 'dependabot[bot]'
    name: failure-notification
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2.3.4

      - uses: reside-eng/workflow-status-slack-notification@v1.0.0
        with:
          current-status: 'failure'
          slack-webhook: '${{ secrets.SLACK_WEBHOOK_PLATFORM_PROD }}'
          github-token: '${{ secrets.GITHUB_TOKEN }}'
